@import url('https://fonts.googleapis.com/css?family=Sacramento:400|Audiowide|Grape+Nuts');

body {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #eee;
    height: 100vh;
    overflow: auto;
}

.container {
    position: relative;
    height: 80%;
    width: 90%;
    -webkit-box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.26);
    background-color: rgb(144, 55, 227);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
}

#enter-form {
    font-size: 36px;
    font-family: "Sacramento", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px 50px;
    display: inline-flex;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem #bc13fe, 0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;
}

#enter-form:after {
    content: "";
    position: absolute;
    height: 700%;
    width: 500%;
    background-color: white;
    animation: enter-form 1s forwards;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-animation: enter-form 1s forwards;
}

#enter-form.neon {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #bc13fe,
        0 0 82px #bc13fe,
        0 0 92px #bc13fe,
        0 0 102px #bc13fe,
        0 0 151px #bc13fe;
}

#enter-form form{
    display: flex;
    flex-wrap: nowrap;
}

#enter-form form input {
    padding: 10px;
    border: none;
    border-radius: 8px 0 0 8px;
    -webkit-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    -ms-border-radius: 8px 0 0 8px;
    -o-border-radius: 8px 0 0 8px;
    outline: none;
}

#enter-form input[type="submit"] {
    background-color: #ffffff;
    color: #9203d9;
    cursor: pointer;
    border-radius: 0px 8px 8px 0px;
    -webkit-border-radius: 0px 8px 8px 0px;
    -moz-border-radius: 0px 8px 8px 0px;
    -ms-border-radius: 0px 8px 8px 0px;
    -o-border-radius: 0px 8px 8px 0px;
}

.chat {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 0;
    height: 0;
    animation: helloanim 1.5s forwards;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-animation: helloanim 1.5s forwards;
    z-index: 1100;
    overflow: hidden;
}

.sidebar {
    width: 100%;
    height: 100%;
    border-right: 0.5px solid #ddd;
}

.content {
    width: 100%;
    height: 100%;
}

.s-header {
    font-family: "Audiowide", sans-serif;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    color: #9203d9;
    border-bottom: 1px solid #ddd;
}

.s-chats {
    display: flex;
    border-top: 1px solid #ddd;
}

.s-chats:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

img {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.s-chats p,
.s-chats h4 {
    font-family: sans-serif;
    margin: 0;
    padding-top: 12px;
}

.s-chats.active{
    background-color: #9203d9;
    color: white;
    padding-left:10px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.content{
    position: relative;
    display: flex;
    flex-direction: column;
}

.c-header {
    font-family: "Audiowide", sans-serif;
    padding: 10px 20px;
    display: flex;
    justify-content: right;
    color: #9203d9;
    border-bottom: 2px solid #ddd;
}

.c-messagebox{
    font-family: sans-serif;
    height: 100%;
    background-color: #ddf;
    overflow: auto;
}

.c-messagebox img{
    vertical-align: middle;
}

.message-row p{
    margin: 0;
}

.message-row.me{
    direction: rtl;
}

.message-row.me .message{
    background-color: #9203d9;
    color: white;
}

.message-row.me .message p{
    direction: ltr;
}

.message{
    display: inline-block;
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    width: 300px;
}
.message div{
    color: #ccc;
    font-size: 12px;
    text-align: right;
}

.input{
    padding:8px;
    display: flex;
}

.input .text{
    border: 1px solid rgb(254, 249, 255);
    background-color: #e7e7f4;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.input button{
    border: 0;
    border-radius: 50%;
    font-size: 20px;
    padding: 10px 12px;
    color: white;
    margin-left: 5px;
    background-color: rgb(54, 171, 255);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media screen and (min-width:768px) {
    .sidebar {
        width: 320px;
        border-right: 1px solid #eee;
    }
}

@media screen and (max-width:525px) {
    .container {
        width: 100%;
        height: 100%;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    #enter-form {
        border: 0;
        border-radius: 0;
        box-shadow: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}

@keyframes helloanim {
    0% {
        width: 0;
        height: 0;
    }

    30% {
        width: 150%;
        height: 300%;
    }

    50% {
        width: 100%;
        height: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}

@keyframes enter-form {
    from {
        width: 500%;
        height: 700%
    }

    to {
        width: 0;
        height: 0;
    }
}